body, html {
  margin: 0; 
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 10px;
}

.poppins {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
}

.header {
  height: 8rem;
  background-color: #f8f9fa;
  padding-left: 8rem;
}

.header_font {
  font-weight: 600;
}

.center {
  display: flex;
  align-items: center;
  justify-content: left;

  column-gap: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  justify-content: flex-end;
  width: 70rem;
}

.flex-row {
  align-items: flex-start !important;
  justify-content: left;
  text-align: left;
}

.display_size {
  height: 9.6rem;
}

.display_totals {
  padding: 3.6rem 0 2rem 8rem;
}

.itemList {
  height: 50.8rem;
  width: 78rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.add_item {
  width: 78rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  font-size: 1.4rem !important;
}